body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    min-height: 100vh;
    margin: 0;
}